/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* FUNDO */

body {
    
    margin: 0;

    background-image: url("img/fundo,jpg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}



/* TOPO */

.topo {
    width: 100vw;
    height: 80px;

    background: #F7F2E8;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.22);
}


/* LOGO */

.logo {
   
    width: 120px;
    position: absolute;
    left: 30px;
}



/* TÍTULO */

.topo h2 {
    font-family: Georgia, "Times New Roman", serif;

    font-size: 18px;
    font-weight: 600;

    letter-spacing: 6px;

    color: #2B1304;
}


/* MENU */

.menu {
    position: absolute;

    right: 30px;
    top: 50%;

    transform: translateY(-50%);

    font-size: 48px;
    font-weight: 900;

    line-height: 1;

    color: #2B1304;

    cursor: pointer;
}


/* CARD LARANJA */

.card {

    width: 900px;

    background: #FF7B00;

    border-radius: 22px;

    padding: 35px 35px;

    gap: 70px;

    margin-top: 70px;

    display: flex;

    justify-content: space-between;
    align-items: center;

    box-shadow: 8px 10px 18px rgba(0, 0, 0, 0.25);
}



/* PARTE DA ESQUERDA */

.senha {
    
    width: 40%;
    height: 480px !important;

    background: #FFFFFF;
    border-radius: 30px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.25);
}


/* TÍTULOS */

.senha h1,
.informacoes h1 {
    font-size: 28px;

    font-weight: 900;

    color: #000000;
}


/* SENHAS */

.senha-atual,
.sua-senha {
    font-size: 42px;

    font-weight: 400;

    margin-top: 45px;
}


/* LINHA DA ESQUERDA */

.divisao {
    width: 85%;

    height: 2px;

    background: #1C1C1C;

    margin: 45px auto 25px auto;
}


/* PARTE DA DIREITA */

.informacoes {
    width: 58%;

    background: #FFFFFF;

    border-radius: 30px;

    padding: 35px 25px;

    display: flex;

    align-items: center;

    justify-content: space-around;

    min-height: 480px;

    box-shadow: 5px 7px 12px rgba(0, 0, 0, 0.25);
}


/* TEMPO */

.tempo {
    
    width: 45%;

    text-align: center;

    align-self: stretch;
    display: flex;
    flex-direction: column;
}



.tempo p {
    font-size: 42px;

    margin-top: 115px;
}


/* ÚLTIMA SENHA */

.ultima {
    
    width: 45%;
    text-align: center;
    align-self: flex-start;
    margin-top: 0;
}



.ultima p {
    font-size: 42px;
    margin-top: 50px;
}


/* LINHA VERTICAL */

.linha {
    width: 2px;

    height: 400px;

    background: #1C1C1C;

    margin: 0 20px;
}


/* LINHA INTERNA */

.linha-interna {
    width: 2px;

    height: 400px;

    background: #1C1C1C;
}
.ultima h1 {
    white-space: nowrap;
    font-size : 24px;
}
