@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Fredoka:wght@300..700&family=Gluten:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Purple+Purse&family=Quicksand:wght@300..700&family=Ribeye&display=swap');
*{
    margin: 0%;
    padding: 0px;
}
.cabeçalho{
    margin: 0%;
    padding: 1px 1px;
    width: 100wv;
    height: 70px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    background-color: #f5efe0;
    position: relative;
    z-index: 10;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}
.cabeçalho h3{
    font-family: Georgia, "Times New Roman", serif;
    font-size:18px;
    font-weight:600;
    letter-spacing:3px;
    color:#2B1304;
}
.logotipo img{
    width: 145px;
    left:30px;
    padding-left: 25px;
}
summary::marker{
    content: "\22EE";
    font-weight: bolder;
    cursor: pointer;
    font-size: 50px;
}
details[open] summary::marker{
color: #383837;
font-size: 27px;
} 

li{
    font-size: 20px;
}

a{
    color: #383837;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF3E0;
}
main{
    background-image: url(../../img/fundo.png)
}
.card-fundo{
    width: 750px;
    height: 130px;
    background-color: #ff7b00;
    border: 1px solid #ff7b00;
    border-radius: 25px;
    padding: 150px 90px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.18);
}
.lado-esquerdo{
    padding-left: 30px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    gap: 26px;

}
.lado-esquerdo select{
    width: 350px;
    height: 40px;
    font-size: 17px;
    background-color: #FFF3E0;
    border: 0.5px solid white;
    border-radius: 5px;
    cursor: pointer;
}
hr{
    border: 1px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lado-direito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding-right: 55px;
    gap: 18px;
    font-size: 20px;
}
.lado-direito img{
    width: 45px;
    height: 45px;
}
.maps-e-texto{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding-right: 25px;
    cursor: pointer;
}
.lado-direito select{
    width: 300px;
    height: 40px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: #FFF3E0;
    cursor: pointer;
}
button{
    margin-top:20px;

    margin-left:760px;
    background:#d48c26;

    color:#2B1304;
    border:none;

    border-radius:30px;

    padding:14px 28px;

    font-weight:bold;

    font-size:18px;

    box-shadow:0 6px 12px rgba(0,0,0,.30);

    cursor:pointer;

    transition:0.2s;
}